PORT=7123

GROQ_API_KEY=
CEREBRAS_API_KEY=
OPENROUTER_API_KEY=
GEMINI_API_KEY=

# https://console.groq.com/
# https://cloud.cerebras.ai/
# https://openrouter.ai/qwen/qwen3-coder:free
# https://aistudio.google.com/app/api-keys